<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="google-adsense-account" content="ca-pub-9198935842866616">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script https://www.effectivegatecpm.com/xin63xya?key=f7d76a18fa2f116f48e36398ef829851
</script>
<script async 
  src="https://api.trustedaccounts.org/js-sdk.js" 
  onload="new TrustedTraffic({
    publishableKey: 'pk_live_l3CCOUO7GbeW2guEnGnfN6KyBBWNgLbcUvMJcJrRVWlw09rCWEZ4S7J60oTsO57H'
  }).init()">
</script>
<title><%= title || 'Job Freelance' %></title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!-- Tambahkan link font kustom jika ada di public/css/fonts.css -->
<!-- <link rel="stylesheet" href="/css/fonts.css"> -->