<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: title }) %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main class="main-content">
        <%- body %> <!-- Ini adalah tempat konten spesifik halaman akan di-inject -->
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/main.js"></script>
</body>
</html>